body {

}
.btn {
    width: 75.5%;
    left: 15vw;
    position: absolute;
    border: none;
    background-color: transparent;
}
.btn0 {
    height: 25vw;
    top: 217.5vw;
}
.btn1 {
    height: 10.3vw;
    top: 249.3vw;
}

.btn2 {
    height: 15.3vw;
    top: 265.6vw;
}

.btn3 {
    height: 10.3vw;
    top: 287vw;
}

.btn4 {
    height: 9.7vw;
    top: 303.5vw;
}

.btn5 {
    height: 10vw;
    top: 319.6vw;
}

.btn6 {
    height: 13.5vw;
    top: 336.5vw;
}

.btn7 {
    height: 10vw;
    top: 357.8vw;
}
.btn8 {
    height: 10.1vw;
    top: 374.3vw;
}
.btn9 {
    height: 10.5vw;
    top: 390.3vw;
}
.btn10 {
    height: 15.2vw;
    top: 406.8vw;
}
.btn11 {
    height: 10.2vw;
    top: 428.6vw;
}
.btn12 {
    height: 15.2vw;
    top: 444.8vw;
}
.btn13 {
    height: 15.2vw;
    top: 466.2vw;
}





