body{

}

.img1{
    background-image: url(images/Home.png);

}

.bg_img{
    width: 100vw;
    min-height: 185vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*[data-animation="ripple"] {
    height: 100%;
    width: 100%;
    display: block;
    outline: none;

    color: #fff;
    background-color: transparent;
 
    cursor: pointer;
    
    -webkit-tap-highlight-color: transparent;
}

    *[data-animation="ripple"]:focus {
        outline: none;
    }

    *[data-animation="ripple"]::selection {
        background: transparent;
        pointer-events: none;
    }

    .btnStyle{
        background-color: transparent;
        width: 87%; height: 18vw;
        left: 7vw; 
        position: absolute;  
        border: none;
    }

    .btn1 {
        top: 19.2vw;
   
    }

    .btn2{
        top: 45.3vw; 
    }
    .btn3{
        top: 71.5vw;
    }
    .btn4{
        top: 98.2vw;
    }
    .btn5 {
        top: 125.8vw;
    }
