body {

}
.btn {
    width: 75.5%;
    left: 15vw;
    position: absolute;
    border: none;
    background-color: transparent;
}
.btn0 {
    height: 36.5vw;
    top: 225.6vw;
}
.btn1 {
    height: 10.2vw;
    top: 268.6vw;
}

.btn2 {
    height: 10.4vw;
    top: 284.8vw;
}

.btn3 {
    height: 10.4vw;
    top: 301vw;
}

.btn4 {
    height: 10.4vw;
    top: 317.2vw;
}

.btn5 {
    height: 10vw;
    top: 333.2vw;
}

.btn6 {
    height: 10.4vw;
    top: 349.5vw;
}

.btn7 {
    height: 10vw;
    top: 366.3vw;
}
.btn8 {
    height: 15vw;
    top: 382.6vw;
}
.btn9 {
    height: 21vw;
    top: 403.8vw;
}
.btn10 {
    height: 21vw;
    top: 431.3vw;
}
.btn11 {
    height: 20.5vw;
    top: 458.8vw;
}
.btn12 {
    height: 10vw;
    top: 485.8vw;
}
.btn13 {
    height: 14.6vw;
    top: 502vw;
}




