.btn {
    width: 75.5%;
    left: 15vw;
    position: absolute;
    border: none;
    background-color: transparent;
}

.btn0 {
    height: 37vw;
    top: 211vw;
}

.btn1 {
    height: 11vw;
    top: 253.5vw;
}

.btn2 {
    height: 16vw;
    top: 269.5vw;
}

.btn3 {
    height: 21.5vw;
    top: 291vw;
}

.btn4 {
    height: 16vw;
    top: 318.7vw;
}

.btn5 {
    height: 15.7vw;
    top: 340.3vw;
}

.btn6 {
    height: 15.7vw;
    top: 361.8vw;
}

.btn7 {
    height: 15.7vw;
    top: 383.3vw;
}

.btn8 {
    height: 15.7vw;
    top: 405.4vw;
}

.btn9 {
    height: 15.7vw;
    top: 426.4vw;
}

.btn10 {
    height: 15.7vw;
    top: 449.3vw;
}

.btn11 {
    height: 15.7vw;
    top: 470.4vw;
}

.btn12 {
    height: 11vw;
    top: 492vw;
}
